{% extends 'base.html' %}

{% block content %}
<h1>커뮤니티</h1>
{% for movie in movies %}
    <div class="card d-inline-flex" style="width: 18rem;">
        <img src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}" class="card-img-top" alt="movie_img">
        <div class="card-body">
        <h5 class="card-title">{{ movie.title }}</h5>
        <h5 class="card-subtitle">{{ movie.original_title }}</h5>
        {{ movie.release_date }}
        <br>
        <a href="#" class="btn btn-primary">See detail</a>
        </div>
    </div>
{% endfor %}

{% endblock %}
