{% extends 'base.html' %}

{% block content %}
<ul id="test"></ul>
{% endblock %}

{% block script %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
    const testArea = document.querySelector('#test')
    
    const API_KEY = '7bfeda2276dd8eac6859724170d2ace6'
    axios.get(`https://api.themoviedb.org/3/movie/popular?api_key=${API_KEY}`)
        .then(res => {
            console.log(res.data.results)
            for (idx in res.data.results) {
                console.log(res.data.results[idx].title)
                testArea.append(res.data.results[idx].title)
            }
        })
        .catch(err => {
            console.log(err)
        })


    </script>
{% endblock %}