{% extends 'base.html' %}

{% block content %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'articles:movie_detail' movie.pk %}">영화 개요<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{% url 'articles:community' movie.pk %}">나눔소</a>
          </div>
        </div>
    </nav>
    <div class="d-flex">
      <!-- Button trigger modal -->
      <a href="" data-toggle="modal" data-target="#exampleModal"><img src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}"></a>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{ movie.title }}의 예고편</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                {% for youtube_item in youtube_items %}
                <iframe type="text/html" class="embed-responsive-item" src="https://www.youtube.com/embed/{{ youtube_item.id.videoId }}" ></iframe>    
                {% endfor %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
        <div>
            <h3>{{ movie.title }}</h3>
            <h5>{{ movie.original_title }}</h5>
            <p>평점: {{ movie.vote_average }}</p>
            <p>개봉 일: {{ movie.release_date }}</p>
            <p>누적 관객 수: {{ movie.popularity }}</p>
            <hr>
            <p>{{ movie.overview }}</p>
            <hr>
        </div>
    </div>

</div>



{% endblock %}