{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block content %}
<div class="review_detail">
    <div class="content">
        {% if review.user.image %}
            <a href="{% url 'accounts:profile' review.user %}"><img class="profile_img" src = "{{ review.user.image.url }}" style="width: 100px; height: 100px;"></a>
        {% else %}
            <a href="{% url 'accounts:profile' review.user %}"><img class="profile_img" src = "/static/noprofile.jpg" style="width: 100px; height: 100px;"></a>
        {% endif %}
        <h3>제목: {{ review.title }}</h3>
        <p>작성자: {{ review.user }}</p>
        <p>{{ review.content }}</p>
    </div>
    <div class="img-cover"></div>
</div>


{% if request.user == review.user %}
    <a href="{% url 'articles:review_update' movie.pk review.pk %}">수정</a>
    <a href="{% url 'articles:review_delete' movie.pk review.pk %}">삭제</a>
{% endif %}

<!-- 여기부터 댓글 -->
<hr>
<h1>댓글</h1>
<!-- 기존 댓글 -->
{% for comment in comments %}
    <p>{{ comment.content }}</p>
    {% if comment.user == request.user %}
        <a href="{% url 'articles:comment_delete' movie.pk review.pk comment.pk %}">삭제</a>
        <a href="{% url 'articles:comment_update' movie.pk review.pk comment.pk %}">수정</a>
    {% endif %}
{% endfor %}

<!-- 댓글 작성 폼 -->
{% if request.user.is_authenticated %}
    {% if request.resolver_match.comment_create %}
    <form action="{% url 'articles:comment_create' movie.pk review.pk %}" method="POST">
    {% else %}
        <form action="" method="POST">
    {% endif %}
    {% csrf_token %}
    {{ form.as_p }}
    <button>Review submit</button>
</form>
{% endif %}

{% endblock %}