{% extends 'base.html' %}
{% load bootstrap_pagination %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'articles/style.css' %}">
<style>
  .submit {
    width: 85%;
    padding: 10px 10px;
    cursor: pointer;
    display: block;
    margin: auto;
    background:  #5120DE;
    border: 0;
    outline: none;
    border-radius: 30px;
}
</style>
{% endblock %}

{% block content %}
<div class="text_L" style="margin-top: 50px; margin-bottom: 50px; margin: 50px;">
    {% for review in page_obj %}  
  <div class="card d-inline-flex m-10 justify-content-center" style="width: 15rem;">
    <div class="poster-wrap position-relative mx-auto" style="width: 200px;">
      {% if review.user.image %}
      <a href="{% url 'accounts:profile' review.user %}"><img class="card-img-top" src = "{{ review.user.image.url }}" alt="movie_img" style="width: 12rem; height: 8rem;"></a>
      {% else %}
      <a href="{% url 'accounts:profile' review.user %}"><img class="card-img-top" src = "/static/noprofile.jpg" alt="movie_img" style="width: 12rem; height: 8rem;"></a>
      {% endif %}
    <div class="card-body">
      <h5>{{ review.user.username }}</h5>
      <h6 class="card-title">{{ review.movie.title }}</h6>
      <h6>{{ review.title }}</h6>
      <button class="submit"><a href="{% url 'articles:review_detail' review.movie.pk review.pk %}" class="text_L" style="color: white;">취향 나누러 가기</a></button>
    </div>
  </div>
  </div>
  {% endfor %} 

  <div class="d-flex justify-content-center" style="margin-top: 20px;">
    {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" %}
  </div>
</div>


{% endblock %}